.ccls-cache/
.ccls-root
.directory
.idea/
.rnd
.vs/
.vscode/
CMakeSettings.json
_revs/
build/
cmake-build-debug/
cmake-build-relwithdebinfo-clang/
compile_commands.json
dev/
gitconfig.txt
snippet/
th.sh
todo.txt
tools/ssl/files/